<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row">

        <div class="col-sm-4">
          <p>&copy; 2024 EAS Lab. Layout forked by <a href="https://www.allanlab.org/">Allan's lab</a>.</p>
        </div>

        <div class="col-sm-4">
          Contact:<br />
          Pray Harrold, 5th floor<br />
          Ypsilanti, Michigan<br />
          USA <br />
        </div>

        <div class="col-sm-4 footer-logo">
          <img src="{{ site.url }}{{ site.baseurl }}/_includes/EAIS_Lab_Logo-1-removebg-preview.png" alt="EAIS Lab logo">
        </div>

      </div>
    </div>
  </div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
